<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Conexion"
			 connectionString="Server=TU_SERVIDOR;Database=RestauranteDB;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>